*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: solid 1px #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: block;
  border: 1px solid #fff;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 7%;
  background-color: #fff;
  block-size: 15px;
  inline-size: 15px;
}

.search-form__label-text {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 34px;
  border: solid 1px #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  margin: 3px;
  inline-size: 399px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  border: none;
  border-block-start: solid 1px #fff;
  border-block-end: solid 1px #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden scroll;
  block-size: 294px;
  inline-size: 100%;
}

.content__list-item {
  inline-size: 100%;
  block-size: 100%;
}

.content__list::-webkit-scrollbar {
  background-color: transparent;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2px;
  block-size: 100%;
  inline-size: 400px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  block-size: 100%;
  inline-size: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  object-fit: cover;
  inline-size: 96%;
  block-size: 103px;
}

.preloader-template {
  position: absolute;
  inset: 0;
}
